<h2> Angular 17 App Version 2 </h2> <br>
<router-outlet />
{{title}} <br>
{{title | lowercase}} <br>
{{title | uppercase}} <br>
{{title | titlecase}} <br>
{{title | slice:1:3}} <br>
{{company| json}} <br>
{{students| json}}



<button (click)="getMessageDetails()"> Get MSG Details</button>
<br> 
This will print message from message service = {{msg}}

<app-comp1> </app-comp1>
<app-comp2> </app-comp2>

<div class="anchor">
  <a routerLink="login" routerLinkActive="active home"> Login </a>|
  <a routerLink="home" routerLinkActive="active home"> Home </a>|
  <a routerLink="aboutus" routerLinkActive="active home"> About Us </a>|
  <a routerLink="contactus" routerLinkActive="active home"> Contact US </a>|
  <a routerLink="Student" routerLinkActive="active home"> Student </a> 
  </div>

<router-outlet></router-outlet>
